.top-tab-bar {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 16px;
}

.top-tab-item {
  font-size: 14px;
  padding: 14px 0;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #aaa;
  border-bottom: 2px solid transparent;
}

.top-tab-item.active {
  font-weight: 700;
  color: #111;
  border-bottom: 2px solid #111;
}
