@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/woff2/PretendardVariable.woff2')
    format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-nanum-square-neo: 'Pretendard Variable', 'NanumSquareNeo', sans-serif;
  --font-pretendard-variable: 'Pretendard Variable', 'NanumSquareNeo', sans-serif;
  --font-line-height-default: 130%;
  --font-letter-spacing-default: -0.08px;
}

.font-nanum-square-neo {
  font-family: var(--font-nanum-square-neo);
  font-style: normal;
  line-height: var(--font-line-height-default);
  letter-spacing: var(--font-letter-spacing-default);
}

.font-pretendard-variable {
  font-family: var(--font-pretendard-variable);
  font-style: normal;
  line-height: var(--font-line-height-default);
  letter-spacing: var(--font-letter-spacing-default);
}
