.top-tab-bar {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 20px;
  background: #fff;
  border-radius: 20px 20px 0 0;
}

.top-tab-item {
  font-size: 14px;
  padding: 14px 0;
  margin-right: 24px;
  cursor: pointer;
  font-weight: 400;
  color: var(--color-disabled);
  border-bottom: 2.5px solid transparent;
  margin-bottom: -1px;
}

.top-tab-item.active {
  font-weight: 700;
  color: var(--color-text-main);
  border-bottom: 2.5px solid var(--color-primary);
}
