.community-page {
  background: #fffffd;
  color: #1a1a1a;
  font-family: 'Pretendard', sans-serif;
  line-height: 130%;
  letter-spacing: 0.08px;
}

.community-page h1 {
  font-size: 24px;
  color: #1a1a1a;
  font-family: 'Pretendard', sans-serif;
  line-height: 130%;
  letter-spacing: -0.08px;
}

.community-page h2 {
  font-size: 22px;
  color: #1a1a1a;
  font-family: 'Pretendard', sans-serif;
  line-height: 130%;
  letter-spacing: -0.08px;
}


.community-content {
  display: flex;
  width: 390px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  background: #fffffd;
}

