.community-page {
  background: var(--color-bg-base);
  color: #1a1a1a;
  font-family: 'Pretendard Variable', sans-serif;
  line-height: 130%;
  letter-spacing: 0.08px;
}

.community-page h1 {
  font-size: 24px;
  color: #1a1a1a;
  font-family: 'Pretendard Variable', sans-serif;
  line-height: 130%;
  letter-spacing: -0.08px;
}

.community-page h2 {
  color: #1a1a1a;
  font-family: 'NanumSquare Neo', 'NanumSquareNeo', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.08px;
}


.community-content {
  display: flex;
  width: min(100%, 560px);
  box-sizing: border-box;
  padding: 24px 20px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  background: var(--color-bg-base);
}

@media (min-width: 600px) {
  .community-content {
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
  }
}

